.stat-column {
    display: inline-block;
    margin: 1em;
}

.column-outline {
    height: 300px;
    width: 40px;
    margin: auto;
    display: flex;
    align-items: end;
}

.column-fill {
    margin-top: auto;
    margin-bottom: 0;
    width: 100%;
}
