#drawingboard {
    margin-top: 1em;
    border: 1px solid black;
    border-radius: 5px;
    cursor: crosshair;
}

.color-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.color-button.active {
    width: 40px;
    height: 40px;
}

.tool-button {
    display: inline-block;
    padding: 0.5em;
    background-color: darkslateblue;
    color: white;
    cursor: pointer;
    user-select: none;
}

.tool-button.active {
    background-color: mediumpurple;
}
